* {
  margin: 0;
  padding: 0;
  &::after,
  &::before {
    box-sizing: border-box;
  }
}

body {
  --root-bg-color: #cec6c69f;
  --content-bg-color: #f7f7f7;
  --decoration-color: #6967ba;
  --main-font-color: #262525;
  --muted-font-color: #262525aa;
  --contrast-font-color: #fff;
  --main-font: "Times New Roman", Times, serif;
  --secondary-font: "Cambria";
  line-height: 1.4;
  &,
  html {
    height: 100%;
  }
}

img,
picture,
video,
canvas,
svg {
  display: inline;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

a,
a:hover,
a:visited {
  color: var(--contrast-font-color);
}

#root {
  font-family: var(--main-font);
  color: var(--main-font-color);
  background-color: var(--root-bg-color);
}

.main {
  width: 100%;
  max-width: 900px;
  min-width: 900px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.content {
  background-color: var(--content-bg-color);
  height: 1272px;
}

.download-button {
  cursor: pointer;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  border: none;
  bottom: 20px;
  right: 20px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: var(--decoration-color);
  color: var(--contrast-font-color);
  box-shadow: 0 1px 6px 0 rgb(0 0 0 / 6%), 0 2px 32px 0 rgb(0 0 0 / 16%);
  transition: transform 167ms cubic-bezier(0.33, 0, 0, 1);
  &:hover {
    transition: transform 250ms cubic-bezier(0.33, 0, 0, 1);
    transform: scale(1.1);
  }
}
